<div id="page">
    <app-intro-pane></app-intro-pane>

    <div class="mx-auto mt-4 fs-1" style="width:max-content;">
        <p style="font-weight: 700;">
            Career Timeline
        </p>
    </div>

    <app-timeline></app-timeline>

    <div class="mx-auto mt-1 fs-1 mb-0" style="width:max-content;">
        <p style="font-weight: 700;">
            Notable Projects
        </p>
    </div>

    <app-project-showcase></app-project-showcase>

    <router-outlet></router-outlet>

    <div id="left"></div>
    <div id="right"></div>
    <div id="top"></div>
    <div id="bottom"></div>
</div>