<div class="container-fluid text-center" id="intro">
    <div class="row h-100 align-items-center row-cols-auto justify-content-center mw-100 mx-0">
        <div class="col-12 align-self-end px-0 w-auto" id="pic-and-name">
            <app-headshot></app-headshot>
            <app-nameplate style="display: inline-block; height: 100%;"></app-nameplate>
        </div>
        <div class="col align-self-end mw-100 px-0" style="left: 0; right:0">
            <p class="mt-0 pt-0 mt-5 justify-content-center text-white fs-5" id="intro-para" style="left: 0; right:0">
                Hello! My name is Cody. I am a recent Southern Illinois University Edwardsville graduate with a Bachelor's degree in Computer Science and a Minor in Mathematics. Welcome to my portfolio, where I can showcase my professional experience and personal projects. This website was created using Angular and hosted on Github Pages.
            </p>
            <div class="mb-4 mt-4">
                <app-socials-pane class="my-5" style="left: 0; right:0"></app-socials-pane>
            </div>
        </div>
    </div>
</div>