<div class="container-fluid text-center" id="intro">
    <div class="row h-100 align-items-center row-cols-auto justify-content-center">
        <div class="col-12 align-self-end mt-5">
            <app-headshot></app-headshot>
            <app-nameplate style="display: inline-block; height: 100%;"></app-nameplate>
        </div>
        <div class="col align-self-end">
            <p class="mt-0 pt-0 mt-5 justify-content-center text-white fs-5" id="intro-para">
                Hello! My name is Cody. I am a recent graduate from Southern Illinois University Edwardsville with a Bachelors in Computer Science and a Minor in Mathematics. Welcome to my portfolio, where I can showcase my professional experience and personal projects. This website was created using Angular and hosted on Github Pages.
            </p>
            <div class="mb-3 mt-4">
                <app-socials-pane class="my-5"></app-socials-pane>
            </div>
        </div>
    </div>
</div>