/* You can add global styles to this file, and also import other style files */
@media (max-width: 700px) {
    .p-timeline-event-opposite {
        display: none !important;
    }
}
.p-timeline-event-connector {
    width: 3px;
    background-color: rgba(0, 0, 0, 0.493);
}